.background-feedback {
    margin: 0;
    background-image: url("./img/Layer 20 copy 5@1X.png");
    background-size: cover;
}

.feedback-head {
    display: grid;
    text-align: center;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 1.833em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 255);
    padding: 177px 315px 52px;

}

.subtitle {
    font-family: ﻿Montserrat, sans-serif;
    font-size: 0.5em;
    color: rgba(77, 73, 67, 255);
    text-transform: none;
    padding-top: 35px;
}

.shape {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 3px;
    text-align: center;
    padding: 0 47% 47px;
}

.main-feedback {
    display: grid;
    grid-template-rows: 435px;
    grid-template-columns: 571px 308px;
    column-gap: 15%;
    padding-left: 15%;
}

main {
    font-family: ﻿Montserrat, sans-serif;
}

.form-head {
    box-sizing: border-box;
    width: 380px;
    height: 56px;
    background-color: #333333;
    color: #f1ad1d;
    font-size: 1.5em;
    padding: 16px 19px 0;
}
header>span {
    color: white;
}

.subtitle {
    color: rgba(80, 80, 80, 255);
    font-size: 0.85em;
    padding: 23px 0 26px 0;
    font-weight: normal;
}

.feedback-area input,textarea {
    background-color: rgba(0, 0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85em;
    color: rgba(80, 80, 80, 255);
}

.input-name {
    width: 260px;
    height: 38px;
    margin-right: 13px;
    margin-bottom: 22px;
    padding: 0 0 0 12px;
}

.input-mail {
    width: 261px;
    height: 38px;
    padding: 0 0 0 12px;
}

.message {
    width: 555px;
    height: 165px;
    padding: 18px 0 0 12px;
    resize: none;
}

.feedback-button button {
    width: 118px;
    height: 43px;
    background-color: #f1ad1d;
    font-family: ﻿Montserrat, sans-serif;
    font-weight: bold;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 255);
    margin-top: 20px;
    text-transform: uppercase;
}

.contact-head {
    box-sizing: border-box;
    width: 246px;
    height: 56px;
    background-color: #333333;
    color: #f1ad1d;
    font-size: 1.5em;
    padding: 16px 19px 0;
}

.icon-form {
    width: 36px;
    height: 32px;
    background-color: #333333;
    margin-bottom: 9px;
    display: grid;
    grid-template-rows: 308px;
    grid-template-columns: 36px 260px;
}

.icons {
    color: #f1ad1d;
    text-align: center;
    padding-top: 7px;
}

.info {
    color: rgba(80, 80, 80, 255);
    font-size: 0.85em;
    font-weight: normal;
    padding-top: 7px;
    padding-left: 12px;
}

.follow {
    margin-top: 38px;
    margin-bottom: 28px;
}

.follow-area {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px;
    column-gap: 16px;
}

.follow-info {
    width: 45px;
    height: 40px;
    background-color: #f1ad1d;

}

.follow-icons {
    color: white;
    text-align: center;
    padding-top: 12px;
}

